<% include partials/head %>
<div class="container">
    <div class="text<% if (page.year && page.year > new Date().getFullYear()) { %> abs-before-after project-wip<% } %>">
        <h1 class="text-title"><%= page.title %></h1>
        <% if (page.description || page.programs || page.work) { %>
                <% if (page.description) { %>
                    <p class="text-subtitle"><%= page.description %></p>
                <% } %>
            <div class="text-meta">
                <% if (page.programs && page.programs.length > 0) { %>
                    <p class="text-programs"><%- page.renderProgramIcons(page.programs, true) %></p>
                <% } %>
                <% if (page.work && page.work.length > 0) { %>
                    <ul class="text-work"><li><%- page.work.join("</li><li>") %></li></ul>
                <% } %>
            </div>
        <% } %>
        <div class="text-content">
            <%- contents %>
        </div>
        <% if (page.next || page.previous) { %>
            <div class="pager-top pager-wrapper"><% include partials/pager %></div>
        <% } %>
    </div>
    <% if (page.gallery || page.screenshots || page.vimeo) { %>
        <div id="gallery">
            <% if (page.gallery && page.gallery.length > 0) { %>
                <section class="media">
                    <h2 class="media-title sr-only">Gallery</h2>
                    <div class="clearfix media-content"><%- page.renderGalleryImages(page) %></div>
                </section>
            <% } %>
            <% if (page.screenshots && page.screenshots.length > 0) { %>
                <section class="media">
                    <h2 class="media-title">Screenshots</h2>
                    <div class="clearfix media-content"><%- page.renderGalleryImages(page, 'screenshots') %></div>
                </section>
            <% } %>
            <% if (page.vimeo && page.vimeo.length > 0) { %>
                <section class="media">
                    <h2 class="media-title">Videos</h2>
                    <div class="clearfix media-content">
                        <% page.vimeo.forEach(function (id) { %>
                            <div class="media-element media-video">
                                <noscript>
                                    <iframe src="//player.vimeo.com/video/<%= id %>" height="337.5" webkitallowfullscreen mozallowfullscreen allowfullscreen width="600"></iframe>
                                </noscript>
                                <iframe data-src="//player.vimeo.com/video/<%= id %>" height="337.5" webkitallowfullscreen mozallowfullscreen allowfullscreen width="600"></iframe>
                            </div>
                        <% }); %>
                    </div>
                </section>
            <% } %>
        </div>
        <% if (page.next || page.previous) { %>
            <div class="pager-bottom pager-wrapper"><% include partials/pager %></div>
        <% } %>
    <% } %>
</div>
<% if (page.gallery || page.screenshots) { %>
<% var total = (page.gallery ? page.gallery.length : 0) + (page.screenshots ? page.screenshots.length : 0); %>
    <div id="full-screen" class="full-screen sr-only">
        <nav class="full-screen-nav">
            <% if (total > 1) { %>
                <a id="full-screen-previous" href="#">◀</a>
                <b>
                    <span id="full-screen-current"></span>
                    /
                    <span id="full-screen-total"><%= total %></span>
                </b>
                <a id="full-screen-next" href="#">▶</a>
            <% } %>
            <a id="full-screen-close" href="#">✖</a>
        </nav>
    </div>
<% } %>
<% include partials/foot %>
