<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title><%= page.title %><%= page.titleSeparator %><%= page.subtitle %></title>
    <meta name="description" content="<%= page.description %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="index">
    <div class="page-left">
        <div class="flex-center">
            <div>
                <header><h1><img src="/images/logo/vector.svg" alt="<%= page.title %>"></h1></header>
                <main class="text-justify"><%- contents %></main>
            </div>
        </div>
        <footer class="text-center">
            <% var iconSize = 32; %>
            <p>
                <a class="img-anchor social" href="https://melaniegruber.deviantart.com/" target="_blank">
                    <img src="/images/icons/deviantart.svg" alt="deviantART" width="<%= iconSize %>" height="<%= iconSize %>">
                </a>
                <a class="img-anchor social" href="https://www.linkedin.com/in/melaniegruber" target="_blank">
                    <img src="/images/icons/linkedin.svg" alt="LinkedIn" width="<%= iconSize %>" height="<%= iconSize %>">
                </a>
                <a class="img-anchor social" href="https://www.pinterest.com/GruberMelanie/" target="_blank">
                    <img src="/images/icons/pinterest.svg" alt="Pinterest" width="<%= iconSize %>" height="<%= iconSize %>">
                </a>
                <a class="img-anchor social" href="callto:melaniegruber.de" target="_blank">
                    <img src="/images/icons/skype.svg" alt="Skype" width="<%= iconSize %>" height="<%= iconSize %>">
                </a>
                <a class="img-anchor social" href="https://vimeo.com/melaniegruber" target="_blank">
                    <img src="/images/icons/vimeo.svg" alt="Vimeo" width="<%= iconSize %>" height="<%= iconSize %>">
                </a>
            </p>
            <p>
                <a href="/about">About</a> ·
                <a href="/contact">Contact</a> ·
                <a href="/résumé">Résumé</a> ·
                <a href="/impressum">Impressum</a>
            </p>
        </footer>
    </div>
    <div class="page-right">
        <% page.projects.forEach(function (project) { %>
            <article>
                <a class="img-anchor project" href="/<%= project.route %>">
                    <div class="title">
                        <h2><%= project.title %></h2>
                        <p><%= project.description %></p>
                    </div>
                    <picture>
                        <source srcset="/images/<%= project.route %>/banner.webp" type="image/webp">
                        <img class="img-responsive" src="/images/<%= project.route %>/banner.jpg" alt="<%= project.title %> banner.">
                    </picture>
                </a>
            </article>
        <% }); %>
    </div>
    <script src="/scripts/picturefill.js"></script>
</body>
</html>
