<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title><%= page.title %><%= page.titleSeparator %><%= page.subtitle %></title>
    <meta name="description" content="<%= page.description %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="index">
    <header class="clearfix">
        <h1 class="title"><%= page.title %></h1>
        <nav class="content">
            <h2 class="sr-only">Main Navigation</h2>
            <ul>
                <li>Work</li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/impressum">Impressum</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">Work</h1>
        <div class="content gallery">
        <!-- TODO: Remove (debug only). --><% for (var i = 0; i < 10; i++ ) { %>
        <% page.projects.forEach(function (project) { %>
            <a class="img-anchor project" href="/<%= project.route %>">
                <article>
                    <div class="overlay">
                        <h2><%= project.title %></h2>
                        <% if (project.work.length > 0) { %>
                            <p><%= project.work.join(page.workSeparator) %></p>
                        <% } %>
                    </div>
                    <!--
                      We need the 640 pixel images because the grid is flexible and adjusted as there is space. Devices
                      that have exactly 320 pixel will totally waist their bandwidth, but it is not worth the effort to
                      generate separate images only for those rare devices.
                    -->
                    <img alt="<%= project.title %>" class="img-responsive" src="/images/<%= project.route %>/banner.jpg" width="640" height="640">
                </article>
            </a>
        <% }); %>
        <!-- TODO: Remove (debug only). --><% } %>
        </div>
    </main>
</body>
</html>
