<%

function socialLink(name, href, title) {
    title = title || 'Visit my ' + name + ' profile.';
    %>
<a class="img-anchor" href="<%= href %>" target="_blank" title="<%= title %>">
    <img alt="<%= name %> icon" height="24" src="<%= url.asset('/images/icons/' + name.toLowerCase().replace(/ /g, '-') + '.svg') %>" width="24">
</a>
    <%
}

%>
<section class="additional-links">
    <h2 class="sr-only">Weblinks</h2>
    <p>
        <%- socialLink('Skype', 'callto://melaniegruber.de', 'Call me via Skype') %>
        <%- socialLink('LinkedIn', 'https://www.linkedin.com/in/melaniegruber')%>
        <%- socialLink('CG Society', 'http://melaniegruber.cgsociety.org/') %>
        <%- socialLink('DeviantArt', 'http://melaniegruber.deviantart.com/') %>
        <%- socialLink('Sketchfab', 'https://sketchfab.com/melaniegruber') %>
        <%- socialLink('Vimeo', 'https://vimeo.com/melaniegruber') %>
        <%- socialLink('Pinterest', 'https://www.pinterest.com/GruberMelanie/', 'Visit my Pinterest board.') %>
        <%- socialLink('Tumblr', 'http://melaniegruber.tumblr.com/', 'Visit my Tumblr blog.') %>
    </p>
</section>
