<%

// Some pages need special handling.
var homepage    = page.route === "/";
var aboutpage   = page.route === "/about";
var contactpage = page.route === "/contact";
var legalpage   = page.route === "/impressum";

%><!DOCTYPE html>
<html class="no-hover" lang="en" prefix="og: http://ogp.me/ns#" vocab="http://schema.org" typeof="WebPage">
<head>
    <!-- No character encoding declaration because it is sent via HTTP headers. -->

    <!--
    Stylesheets first, we want the browser to download it asap. Note that the code is optimized for SPDY and HTTP/2
    clients; optimization for older clients may be performed with the Google PageSpeed modules for Apache httpd and
    nginx.
    -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- 640 pixels is the breakpoint we want and 16 is the assumed baseline; allow zooming! -->
    <link rel="stylesheet" media="(max-width: <%= 960 / 16 %>em)" href="/styles/mobile.css?1">
    <link rel="stylesheet" media="(min-width: <%= 960 / 16 %>em)" href="/styles/desktop.css?1">
    <!--
    http://dev.w3.org/csswg/mediaqueries-4/#hover

    <link rel="stylesheet" media="(hover: none)" href="/styles/hover.css?1">
    <link rel="stylesheet" media="(hover: hover)" href="/styles/no-hover.css?1">
    -->

    <!--
    We want browsers to use the SVG, sadly that will not work for almost all of them. Next we provide the touch icon
    for all supporting devices (this is 196x196 right now) and let the clients scale it themselves. Same is true for
    the next PNG file which we serve to all modern browsers. The ICO file in the root contains multiple sizes, as it
    should for Windows. The browserconfig.xml file is finally there for modern Windows browsers. That should cover
    them all and resizing is pushed down to the client. Although we may waste some bandwidth, we should be fine with
    that since we are not often serving them.

    http://www.jonathantneal.com/blog/understand-the-favicon/
    https://mathiasbynens.be/notes/touch-icons
    http://css-tricks.com/favicon-quiz/
    -->
    <link rel="icon" href="/images/logo/vector.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon-precomposed" href="/images/logo/icon-196.png">
    <link rel="icon" href="/images/logo/icon-32.png">

    <!-- Force latest rendering engine in IE. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell mobile devices how to behave. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Browser and search engine information. -->
    <title><%= page.title %><%= page.titleSeparator %><%= page.subtitle %></title>
    <meta name="description" content="<%= page.description %>">
    <link rel="canonical" href="<%= page.route %>">
    <link property="url" href="<%= page.route %>">

    <!-- Facebook -->
    <meta property="og:description" content="<%= page.description %>">
    <meta property="og:image" content="<%= page.url("/images/logo/icon-270.png") %>">
    <meta property="og:site_name" content="<%= page.siteName %>">
    <meta property="og:title" content="<%= homepage ? page.siteName : page.title %>">
    <meta property="og:type" content="<% if (homepage) { %>website<% } else { %>article<% } %>">
    <meta property="og:url" content="<%= page.url(page.route) %>">
</head>
<body class="<%= page.layout %>">
    <header class="clearfix header">
        <% if (homepage) { %>
            <h1 class="logo" property="title"><%= page.siteName %></h1>
        <% } else { %>
            <a href="/" rel="home"><h1 class="logo"><%= page.siteName %></h1></a>
        <% } %>
        <nav class="nav">
            <h2 class="sr-only">Main Navigation</h2>
            <span class="abs abs-before-after desktop-hidden menu-open menu-toggle"></span>
            <ul class="menu">
                <li class="abs abs-before-after desktop-hidden menu-close menu-toggle"></li>
                <%
                    function menuItem(title, rel, type, route) {
                        route = route || "/" + title.toLowerCase();
                        %><li<%
                        if (route === page.route) {
                            %>><em class="menu-item"><%= title %></em><%
                        } else {
                            if (type) {
                                %> <%- rel %> typeof="<%= title %>Page"><a type="url"<%
                            } else {
                                %>><a <%- rel %><%
                            }
                            %> class="menu-item" href="<%= route %>"><span><%= title %></span></a><%
                        }
                        %></li><%
                    }

                    menuItem("Work", 'rel="home"', false, "/");
                    menuItem("About", ' rel="about"', true);
                    menuItem("Contact", 'rel="contact"', true);
                    menuItem("Impressum", 'property="copyright license publishingPrinciples"');
                %>
            </ul>
        </nav>
    </header>
    <main>
