<!DOCTYPE html>
<html class="hover no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!-- No character encoding declaration because it is sent via HTTP headers. -->

    <!-- We want to know if JavaScript is available - or not - even before we load the CSS. -->
    <script>
        document.documentElement.classList.remove("no-js");
        document.documentElement.classList.add("js");
    </script>

    <!-- Stylesheets first, we want the browser to download it asap. -->
    <link rel="stylesheet" href="<%= page.asset('/styles/main.css', '/styles/**/*.scss') %>">

    <!--
    We want browsers to use the SVG, sadly that will not work for almost all of them. Next we provide the touch icon
    for all supporting devices (this is 196x196 right now) and let the clients scale it themselves. Same is true for
    the next PNG file which we serve to all modern browsers. The ICO file in the root contains multiple sizes, as it
    should for Windows. The browserconfig.xml file is finally there for modern Windows browsers. That should cover
    them all and resizing is pushed down to the client. Although we may waste some bandwidth, we should be fine with
    that since we are not often serving them.

    http://www.jonathantneal.com/blog/understand-the-favicon/
    https://mathiasbynens.be/notes/touch-icons
    http://css-tricks.com/favicon-quiz/
    -->
    <link rel="icon" href="<%= page.asset('/images/logo/vector.svg') %>" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon-precomposed" href="<%= page.asset('/images/logo/icon-196.png') %>">
    <link rel="icon" href="<%= page.asset('/images/logo/icon-32.png') %>">

    <!-- Force latest rendering engine in IE. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell mobile devices how to behave. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Browser and search engine information. -->
    <title><%= page.title %><%= page.titleSeparator %><%= page.subtitle %></title>
    <meta content="<%= page.description %>" name="description" property="og:description">
    <link href="<%= page.url(page.route) %>" rel="canonical">
    <% if (page.next) { %><link href="<%= page.next.route %>" rel="next"><% } %>
    <% if (page.previous) { %><link href="<%= page.previous.route %>" rel="prev"><% } %>

    <meta property="og:image" content="<%= page.url(page.asset('/images/logo/icon-270.png')) %>">
    <meta property="og:site_name" content="<%= page.siteName %>">
    <meta property="og:title" content="<%= page.index ? page.siteName : page.title %>">
    <meta property="og:type" content="<% if (page.index) { %>website<% } else { %>article<% } %>">
    <meta property="og:url" content="<%= page.url(page.route) %>">
</head>
<body class="<%= page.layout %>">
    <header class="header">
        <%- page.index ? '<h1 class="logo">' : '<a class="logo" href="/">' %>
            <img alt="<%= page.siteName %> logo" height="48" src="<%= page.asset('/images/logo/vector.svg') %>" width="32"><%= page.siteName %>
        <%- page.index ? '</h1>' : '</a>' %>
        <nav class="nav">
            <h2 class="sr-only">Main Navigation</h2>
            <span class="abs abs-before-after desktop-hidden menu-open menu-toggle"></span>
            <ul class="menu">
                <li class="abs abs-before-after desktop-hidden menu-close menu-toggle"></li>
                <% [ "Projects", "About", "Impressum"].forEach(function (title, index) { %>
                <% var route = "/" + (index === 0 ? "" : title.toLowerCase()); %>
                <li>
                    <% if (route === page.route) { %>
                        <em class="menu-item"><%= title %></em>
                    <% } else { %>
                        <a class="menu-item span-anchor" href="<%= route %>"><span><%= title %></span></a>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </nav>
    </header>
    <main>
